table {
  bottom: 7px;
  right: 3px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  transition: 0.2s opacity;
  opacity: 1;
}
td, th {
  border: 1px solid #ccc;
  padding: 8px;
}
thead {
  font-weight: bold;
}
.hidden {
  opacity: 0;
}
