<ng-container *ngIf="theme$ | async as theme">
  <ngrev-network [network]="networkConfig"
                 [style.backgroundColor]="theme.background"
                 (highlight)="highlightNode($event)"
                 (select)="selectNode($event)"
                 (contextMenu)="nodeContext($event)"></ngrev-network>
  <ngrev-metadata-view [theme]="theme" [metadata]="(metadata || {}).properties"></ngrev-metadata-view>
  <ngrev-color-legend [theme]="theme" [colors]="usedColors"></ngrev-color-legend>
</ng-container>
